html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
b,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --red-100: hsl(0, 78%, 62%);
  --cyan-100: hsl(180, 62%, 55%);
  --orange-100: hsl(34, 97%, 64%);
  --blue-100: hsl(229, 6%, 66%);
  --blue-200: hsl(212, 86%, 64%);
  --blue-300: hsl(234, 12%, 34%);
  --gray-100: hsl(0, 0%, 98%);
  --light-100: hsl(0, 0%, 100%);
  --light-200: hsl(0, 0%, 95%);
  --dark-100: hsl(0, 0%, 23%);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-weight: 600;
}

p {
  font-weight: 400;
  line-height: 1.5;
}

._app {
  margin-inline: auto;
  max-width: 90rem;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--gray-100);
  }

  footer {
    color: var(--blue-100);
  }

  :where(h1, h2, h3, h4, h5, h6) {
    color: var(--blue-300);
  }

  p {
    color: var(--blue-100);
  }

  a {
    color: var(--blue-300);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }

  footer {
    color: var(--blue-100);
  }

  :where(h1, h2, h3, h4, h5, h6) {
    color: var(--light-200);
  }

  p {
    color: var(--blue-100);
  }

  a {
    color: var(--light-200);
  }
}
.container {
  margin-inline: auto;
}
.container--85 {
  width: 85%;
}

.header {
  text-align: center;
  margin: 5rem auto;
  max-width: 35rem;
}
.header h1 {
  font-size: 1.5rem;
  font-weight: 200;
}
.header h2 {
  font-size: 1.5rem;
  margin: 0.75rem 0 1.25rem;
}

.main {
  margin: 5rem 0;
}
.main__cards {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 1rem;
}
@media (min-width: 67.5em) {
  .main__cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .main__cards :nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .main__cards :nth-child(4) {
    grid-column: 3/4;
    grid-row: 1/3;
  }
}

footer {
  margin: 5rem 0;
}
footer .attribution {
  line-height: 1.5;
  text-align: center;
}

.card {
  border: 5px solid transparent;
  border-radius: 0.5rem;
  border-top-color: var(--blue-300);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.5rem;
  width: 100%;
}
.card__title h3 {
  font-size: 1.25rem;
}
.card__text {
  margin: 1rem 0 2.5rem;
}
.card__text p {
  font-size: 0.9375rem;
}
.card__img {
  text-align: right;
}
.card--cyan {
  border-top-color: var(--cyan-100);
}
.card--red {
  border-top-color: var(--red-100);
}
.card--orange {
  border-top-color: var(--orange-100);
}
.card--blue {
  border-top-color: var(--blue-200);
}
@media (prefers-color-scheme: light) {
  .card {
    background-color: var(--light-100);
  }
}
@media (prefers-color-scheme: dark) {
  .card {
    background-color: var(--dark-100);
  }
}

/*# sourceMappingURL=style.css.map */
